<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<div class="container-fluid">
  <a class="navbar-brand" href="#" id="unp-logo">UNP</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home
          <span class="visually-hidden">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Personal</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/mozos">Mozos</a>
          <a class="dropdown-item" href="/bartenders">Bartenders</a>
          <a class="dropdown-item" href="/cajeros">Jefe de Barras y Cajeros</a>
          <a class="dropdown-item" href="/boleteros">Boleteros</a>
          <a class="dropdown-item" href="/anfitrionas">Anfitrionas y Recepcionistas</a>
          <a class="dropdown-item" href="/cocineros">Cocineros</a>
          <a class="dropdown-item" href="/runners">Runners y Guardarropas</a>
          <a class="dropdown-item" href="/presencias">Presencias</a>
          <a class="dropdown-item" href="/extras">Extras</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/fecha">Fecha</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/descargar">
          Descargar
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/resetear">
          Resetear
        </a>
      </li>
    </ul>
  </div>
</div>
</nav>